@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
} */

/* input {
  @apply bg-transparent border-b-2 outline-none;
} */

.text-with-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadowed:hover {
  box-shadow: 0px 0px 10px 2px rgb(0, 255, 0, 0.5);
}
